// Profile
//
// Particularly when viewing medical records, it is important to have context as to the person associated with the medical record which is being viewed.  By appropriately incorporating a profile 'snapshot' for identification, users can easily differentiate record associations on a case by case basis.
// This component should be generally embedded in the top left corner of appropriate pages where identification is necessary, taking priority over any secondary navigational components.
//
// Markup:
// <div class="profile">
//   <div class="profile-body">
//     <div class="profile-image col-md-2">
//       <img class="img-responsive profile-image" src="public/img/img-demo.png">
//     </div>
//     <div class="profile-content col-md-10">
//       <h4>Suzie Demo</h4>
//       <p>suzie@amida-demo.com</p>
//       <p>Born: 6/25/1982</p>
//     </div>
// </div>
//
// Styleguide 4.2
//

.profile {

	@extend .panel;
	@extend .panel-default;

    .profile-body {
	  @extend .panel-body;
	  @extend .row;
	  width: 100%;
    }

	.profile-image {
		img {
		  max-width: 100px;
		  max-height: 100px;
		  @extend .img-circle;
		}
	}

	.profile-content {
	}

}
